<!--
TEMPLATE
displays the acts validation page (displays data from eurlex and oeil and allow to validate an act and modify its data if needed)
 -->
{% extends "base.html" %}

{% block contentTitle %}<div id="title">Act ids validation</div>{% endblock %}

{% block content %}
    <div id="content">
        <!-- css related to the act_ids application -->
        <link rel="stylesheet" href="{{STATIC_URL}}europolix/css/act_ids.css?{% now 'U' %}" />
        <!-- css related to the add_modif.html file -->
        <link rel="stylesheet" href="{{STATIC_URL}}europolix/css/add_modif.css?{% now 'U' %}" />
        <!-- css related to the notes_save.html file -->
        <link rel="stylesheet" href="{{STATIC_URL}}europolix/css/notes_and_save.css?{% now 'U' %}" />
        <div class="row-fluid">
            This page lets you validate the ids of an imported act or modify / check the ids of a validated act. Acts can be (re)validated one at a time. <br />
            Select an act to validate in the drop down list to validate a new act. Fill in the {{ display_name.releve_annee}}, {{ display_name.releve_mois}}, {{ display_name.no_ordre}} textboxes and click on the modif button to modify an already validated act.<br />
            You can then check the data in the table below. Contentious data are highlighted in red. The last row "VALIDATION" contains the final data of the act after validation. Change any value on this row if you detect a mistake. You can also click on the update button should you like to fetch the ids from eurlex and oeil once again.<br />
            Under the table, you can add a note concerning the act. Eventually, click on the save button to validate and save the act.
        </div>

        <br />

        <!-- act ids form -->
        <form id="act_form" class="form-inline ids" method="post"  action="{% url act_ids %}">{% csrf_token %}
            <div id="reset_form_path" style="display: none;">{% url reset_ids_form %}</div>
            <div class="row-fluid">{% include "add_modif.html" %}</div>

            <br />

            <div id="act_form_div">{% include form_template %}</div>

        </form>

        <!-- drop down list for adopt variables -->
        <script type="text/javascript" src="{{ STATIC_URL }}jquery_gentleSelect/jquery-gentleSelect-min.js"></script>
        <!-- js related to the act ids and data applications -->
        <script type="text/javascript" src="{{ STATIC_URL }}europolix/js/act.js?{% now 'U' %}"></script>
    </div>
{% endblock %}
