<!--
TEMPLATE
displays the export page
 -->
{% extends "base.html" %}

{% block contentTitle %}<div id="title">Export</div>{% endblock %}

{% block content %}
	<div id="content">
		<!-- css related to the export application -->
		<link rel="stylesheet" href="{{STATIC_URL}}europolix/css/export.css?{% now 'U' %}" />

		<form id="export_form" class="form-horizontal" method="post" action="{% url export %}">{% csrf_token %}
			<fieldset>
				<legend>Please choose the sort options:</legend>

				<div class="row-fluid">
					You can download all the acts of the database on this page. <br />
					Please click on the submit button and wait for the acts to be downloaded in the csv format (can be open with excel or calc).
				</div>

				<br />

				<div class="row-fluid">
					<div class="span12">
						<div class="fieldWrapper center">
							<button type="submit" id="export_button" class="btn btn-primary" data-loading-text="Loading...">EXPORT ALL THE VALIDATED ACTS</button>
						</div>
					</div>
				</div>

				<!-- if javascript activated, give the number of acts to be exported -->
				<input id="acts_nb" name="acts_nb" type="hidden"  value="{{ acts_nb }}" />

				<br />

				<!-- success or error message -->
				<div class="row-fluid">
					<div id="msg" class="{{ msg_class }}">
						{{ msg }}
					</div>
				</div>
                
                <br />
                
                <!-- get latest export -->
				<div class="row-fluid">
					<div id="latest_export">
						<a href="{{ latest_export_file }}" target="_blank">Get the latest export of the database (retrieved on {{ latest_export_date }})</a>.
					</div>
				</div>
                
			</fieldset>
		</form>

		<!-- js related to the export application -->
		<script type="text/javascript" src="{{ STATIC_URL }}europolix/js/export.js?{% now 'U' %}"></script>
	</div>

{% endblock %}
