{% if form.fileToImport.value != None and form.fileToImport.value != "" %}

	<div id="help_text_border">

		{% load import_extra %}

		<span id="help_text_header">Here is an explanation of the format of the file to import. It must be a csv file. The first line should contain the names of the fields or be empty. It is not used for the import but the order of the fields must be as follow (starting from the very first column, 1 or A):</span><br />

		<span id="import_type">{{ form.fileToImport.value|selected_label:form.fileToImport.field.choices }}: </span>
		{% if form.fileToImport.value == "act" %}
			{{ displayName.releveAnnee }}, {{ displayName.releveMois }}, {{ displayName.noOrdre }}, {{ displayName.titreRMC }}, {{ displayName.adoptCSRegleVote }}, {{ displayName.adoptCSAbs }}, {{ displayName.adoptCSContre }}, {{ displayName.fileNoCelex }}, {{ displayName.fileProposAnnee }}, {{ displayName.fileProposChrono }}, {{ displayName.fileProposOrigine }}, {{ displayName.fileNoUniqueAnnee }}, {{ displayName.fileNoUniqueType }}, {{ displayName.fileNoUniqueChrono }}, {{ displayName.proposSplittee }}, {{ displayName.suite2eLecturePE }}, {{ displayName.councilPath }}, {{ displayName.notes }}. <br />
		{% elif form.fileToImport.value == "dosId" %}
			{{ displayName.fileDosId }}, {{ displayName.fileProposAnnee }}, {{ displayName.fileProposChrono }}, {{ displayName.fileProposOrigine }}, {{ displayName.fileSplitProposNumber }}. <br />
		{% elif form.fileToImport.value == "configCons" %}
			{{ displayName.eurlexCodeSectRep }}, {{ displayName.prelexConfigCons }}. <br />
		{% elif form.fileToImport.value == "codeAgenda" %}
			{{ displayName.eurlexCodeSectRep }}, {{ displayName.eurlexCodeAgenda }}. <br />
		{% elif form.fileToImport.value == "respPropos" %}
			{{ displayName.prelexRespPropos }}, {{ displayName.prelexNationalPartyResp }}, {{ displayName.prelexEUGroupResp }}, {{ displayName.prelexNationResp }}. <br />
		{% elif form.fileToImport.value == "adoptPC" %}
			{{ displayName.releveAnnee }}, {{ displayName.releveMois }}, {{ displayName.noOrdre }}, {{ displayName.prelexAdoptPCAbs }} , {{ displayName.prelexAdoptPCContre }}. <br />
		{% elif form.fileToImport.value == "np" %}
			{{ displayName.opalNPCaseNumber }}, {{ displayName.fileNoCelex }}, {{ displayName.opalNP }}, {{ displayName.opalNPActivityType }},  {{ displayName.opalNPActivityDate }}. <br />
		{% elif form.fileToImport.value == "gvtCompo" %}
			startDate, endDate, {{ displayName.prelexNationGvtPoliticalComposition }}. <br />
		{% endif %}

	</div>

{% endif %}
