<!--
TEMPLATE
displays the export page
 -->
{% extends "base.html" %}

{% block contentTitle %}Import{% endblock %}

{% block content %}

	<p>
		You can either import a file containing the dosId variable (prelex unique id) or import a file containing acts to process on this page. It must be a csv file (from excel or calc, you can easily change the format by clicking on "Save as" and choosing "csv").<br />
		Please select the kind of import you want to do in the drop down list, then the file to download and click on the upload button. If there are errors, they will be displayed.<br />
		If you are importing acts, it might take a while: the program is going to retrieve information on the acts on eurlex, oeil and prelex. Have a cup of tea and come back later :).
	</p>

	<br />

<!-- Upload csv file -->
	<form action="{% url import %}" method="post" enctype="multipart/form-data">{% csrf_token %}
		<p>{{ form.non_field_errors }}</p>

		<div id="fileSection">

			<div id="fileToImportChoice" class="fieldWrapper">
				{{ form.fileToImport.errors }}
				{{ form.fileToImport }}
			</div>

			{% if form.fileToImport.value != None and form.fileToImport.value != "" %}
				<div id="filesFormat">
					<span class="italic">Here is an explanation of the format of the file to import. It must be a csv file. The first line should contain the names of the fields or be empty. It is not used for the import but the order of the fields must be as follow (starting from the very first column, 1 or A):</span><br />
					{% if form.fileToImport.value == "act" %}
						<span class="bold">{{ form.fileToImport.field.choices.1.1 }}:</span> {{ displayName.releveAnnee }}, {{ displayName.releveMois }}, {{ displayName.noOrdre }}, {{ displayName.titreRMC }}, {{ displayName.adopCSRegleVote }}, {{ displayName.adopCSAbs }}, {{ displayName.adoptCSContre }}, {{ displayName.fileNoCelex }}, {{ displayName.fileProposAnnee }}, {{ displayName.fileProposChrono }}, {{ displayName.fileProposOrigine }}, {{ displayName.fileNoUniqueAnnee }}, {{ displayName.fileNoUniqueType }}, {{ displayName.fileNoUniqueChrono }}, {{ displayName.proposSplittee }}, {{ displayName.suite2eLecturePE }}, {{ displayName.councilPath }}, {{ displayName.notes }}. <br />
					{% elif form.fileToImport.value == "dosId" %}
						<span class="bold">{{ form.fileToImport.field.choices.2.1 }}:</span> {{ displayName.fileDosId }}, {{ displayName.fileProposAnnee }}, {{ displayName.fileProposChrono }}, {{ displayName.fileProposOrigine }}, {{ displayName.fileSplitProposNumber }}. <br />
					{% elif form.fileToImport.value == "configCons" %}
						<span class="bold">{{ form.fileToImport.field.choices.3.1 }}:</span> {{ displayName.eurlexCodeSectRep }}, {{ displayName.prelexConfigCons }}. <br />
					{% elif form.fileToImport.value == "codeAgenda" %}
						<span class="bold">{{ form.fileToImport.field.choices.4.1 }}:</span> {{ displayName.eurlexCodeSectRep }}, {{ displayName.eurlexCodeAgenda }}. <br />
					{% elif form.fileToImport.value == "respPropos" %}
						<span class="bold">{{ form.fileToImport.field.choices.5.1 }}:</span> {{ displayName.prelexRespPropos }}, {{ displayName.prelexNationalPartyResp }}, {{ displayName.prelexEUGroupResp }}, {{ displayName.prelexNationResp }}. <br />
					{% elif form.fileToImport.value == "adoptPC" %}
						<span class="bold">{{ form.fileToImport.field.choices.6.1 }}:</span> {{ displayName.releveAnnee }}, {{ displayName.releveMois }}, {{ displayName.noOrdre }}, {{ displayName.prelexAdoptPCAbs }} , {{ displayName.prelexAdoptPCContre }}. <br />
					{% elif form.fileToImport.value == "np" %}
						<span class="bold">{{ form.fileToImport.field.choices.7.1 }}:</span> {{ displayName.opalNPCaseNumber }}, {{ displayName.fileNoCelex }}, {{ displayName.opalNP }}, {{ displayName.opalNPActivityType }},  {{ displayName.opalNPActivityDate }}. <br />
					{% elif form.fileToImport.value == "gvtCompo" %}
						<span class="bold">{{ form.fileToImport.field.choices.8.1 }}:</span> startDate, endDate, {{ displayName.eurlexNationGvtPoliticalComposition }}. <br />
					{% endif %}
				</div>
			{% endif %}

		</div>


		<div id="clearFloat"></div>

		<br />

		<p>{{ form.csvFile.label_tag }} {{ form.csvFile.help_text }}</p>
		<p>
			{{ form.csvFile.errors }}
			{{ form.csvFile }}
		</p>
		<br />
		<p><input id="importButton" name="importButton" type="submit" value="Upload" /></p>

		<br />

		<div id="importSuccessMessage">{{ success }}</div>

	</form>

	<br />

	<!-- displays importation errors-->
	{% if errorList %}
		{% for error in errorList %}
			<p>{{ error }}</p>
		{% empty %}
			No error during the importation!
		{% endfor %}
	{% endif %}

{% endblock %}
