<!--
TEMPLATE
displays the export page
 -->
{% extends "base.html" %}

{% block contentTitle %}Import{% endblock %}

{% block content %}

	<p>
		You can either import a file containing the dosId variable (prelex unique id) or import a file containing acts to process on this page. It must be a csv file (from excel or calc, you can easily change the format by clicking on "Save as" and choosing "csv").<br />
		Please select the kind of import you want to do in the drop down list, then the file to download and click on the upload button. If there are errors, they will be displayed.<br />
		If you are importing acts, it might take a while: the program is going to retrieve information on the acts on eurlex, oeil and prelex. Have a cup of tea and come back later :).
	</p>

	<br />

<!-- Upload csv file -->
	<form action="{% url import %}" method="post" enctype="multipart/form-data">{% csrf_token %}
		<p>{{ form.non_field_errors }}</p>

		<div id="fileToImportChoice" class="fieldWrapper">
			{{ form.fileToImport.errors }}
			{{ form.fileToImport }}
		</div>

		<br />

		<p>{{ form.csvFile.label_tag }} {{ form.csvFile.help_text }}</p>
		<p>
			{{ form.csvFile.errors }}
			{{ form.csvFile }}
		</p>
		<br />
		<p><input id="importButton" name="importButton" type="submit" value="Upload" /></p>

		<br />

		<div id="importSuccessMessage">{{ success }}</div>

	</form>

	<br />

	<!-- displays importation errors-->
	{% if errorList %}
		{% for error in errorList %}
			<p>{{ error }}</p>
		{% empty %}
			No error during the importation!
		{% endfor %}
	{% endif %}

{% endblock %}
