<!--
TEMPLATE
displays the import page
 -->
{% extends "base.html" %}

{% block contentTitle %}<div id="title">Import</div>{% endblock %}

{% block content %}
	<div id="content">
		<!-- css related to the import application -->
		<link rel="stylesheet" href="{{STATIC_URL}}europolix/css/import.css?{% now 'U' %}" />

		<!-- Upload csv file form-->
		<form id="import_form" class="form-horizontal">{% csrf_token %}
			<fieldset>
				<legend>Please choose the import:</legend>

				<div class="row-fluid">
					You can either import a file containing the dosId variable (prelex unique id) or import a file containing acts to process on this page. It must be a csv file (from excel or calc, you can easily change the format by clicking on "Save as" and choosing "csv").<br />
					Please select the kind of import you want to do in the drop down list, then the file to download and click on the upload button. If there are errors, they will be displayed.<br />
					If you are importing acts, it might take a while: the program is going to retrieve information on the acts on eurlex, oeil and prelex. Have a cup of tea and come back later :).
				</div>

		<br />

				<div class="row-fluid">
					<div id="id___all___errors" class="row-fluid">{{ form.non_field_errors }}</div>
				</div>

				<div class="row-fluid">
					<div class="span4">
						<!-- drop down list choose type of import -->
						<div class="fieldWrapper">
							<div id="id_{{ form.fileToImport.name }}_errors" class="row-fluid">{{ form.fileToImport.errors }}</div>
							<div id="help_text_view" style="display: none;">{% url help_text %}</div>
							<div class="row-fluid">{{ form.fileToImport }}</div>
						</div>

						<!-- button choose file to import -->
						<div id="file_to_import" class="fieldWrapper">
							<div id="id_{{ form.csvFile.name }}_errors" class="row-fluid">{{ form.csvFile.errors }}</div>
							<div id="file_div" >
								<!-- mimic django field -->
								<input id="id_{{ form.csvFile.name }}" name="{{ form.csvFile.name }}" type="file" style="display:none" />
								<div id="choose_file_div" class="input-append btn" onclick="choose_file(this)">
									<span id="choose_file">Choose file</span>
									<input id="file_path" type="text" onKeyPress="this.blur();" >
								</div>
							</div>
						</div>

						<!-- button submit form -->
						<div class="fieldWrapper row-fluid center">
							<button type="button" id="import_button" class="btn btn-primary" onclick="submit_form($('#import_form'), '{% url import %}', $('#id_{{ form.csvFile.name }}'), $(this))" data-loading-text="Loading...">IMPORT</button>
						</div>
					</div>

					<!-- help text for the selected import (on the right) -->
					<div class="span8">
						<div id="help_text" class="info_msg">
						</div>
					</div>
				</div>

				<br />
				<!-- success or error message -->
				<div  class="row-fluid">
					<div id="msg" class="{{ msg_class }}">
						{{ msg }}
					</div>
				</div>

				<br />

				<div id="errors_list" class="row-fluid error_msg"></div>

			</fieldset>
		</form>

		<!-- js related to the import application -->
		<script type="text/javascript" src="{{ STATIC_URL }}europolix/js/import.js?{% now 'U' %}"></script>
	</div>
{% endblock %}
