<!--
TEMPLATE
displays the login page
 -->
{% extends "base.html" %}

{% block contentTitle %}<div id="title">Login</div>{% endblock %}

{% block content %}
	<div id="content">
		<!-- css related to the login application -->
		<link rel="stylesheet" href="{{STATIC_URL}}europolix/css/login.css?{% now 'U' %}" />
		<div class="row-fluid">
			<div class="span12">
				<form id="login_form" class="form-horizontal" method="post" action="{% url login %}">{% csrf_token %}
					<fieldset>
						<legend>Please log in below:</legend>

						{% if next %}
							<input type="hidden" name="next" value="{{ next }}" />
						{% endif %}

						<!-- username -->
						<div  class="row-fluid">
							<div class="control-group">
								<label class="control-label" for="username">username:</label>
								<div class="span3">
									<div class="controls">
										<input type="text" id="username" name="username" value="{{ user.username }}" placeholder="Enter your username" />
									</div>
								</div>
							</div>
						</div>

						<!-- password -->
						<div  class="row-fluid">
							<div class="control-group">
								<label class="control-label" for="password">password:</label>
								<div class="span3">
									<div class="controls">
										<input type="password" id="password" name="password" value=""  placeholder="Enter your password" />
									</div>
								</div>
							</div>
						</div>

						<!-- submit button -->
						<div  class="row-fluid">
							<div class="control-group">
								<label class="control-label"></label>
								<div class="span3">
									<div class="controls center">
										<button type="submit" id="login_button" class="btn btn-primary"  data-loading-text="Loading...">LOG IN</button>
									</div>
								</div>
							</div>
						</div>

						<!-- success or error message -->
						<div  class="row-fluid">
							<div id="msg" class="control-group {{ msg_class }}">
								{{ msg }}
							</div>
						</div>

					</fieldset>
				</form>
			</div>
		</div>

		<!-- js related to the login application -->
		<script type="text/javascript" src="{{ STATIC_URL }}europolix/js/login.js?{% now 'U' %}"></script>
	</div>
{% endblock %}

