<!--
TEMPLATE
contains the template of each webpage: doctype, left menu, right content template, css, js, etc.
-->

<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="{{STATIC_URL}}/css.css?{% now "U" %}"" />

<title>{% block title %}Europolix project{% endblock%}</title>
</head>
<body>

<nav>
	<div class="firstHorizontalStrip">
		<h1>Europolix project</h1>
	</div>

	<div class="secondHorizontalStrip">
		<ul>
			{% if user.username == "" %}
				<li><a href="{% url login %}">Log in</a></li>
			{% else %}
				<li>Welcome {{ user.username }} | <a href="{% url login %}">Log out</a></li>
			{% endif %}
			<br />
			<li><a href="{% url import %}">csv import</a></li>
			<br />
			<li><a href="{% url ids %}">Acts validation</a></li>
			<br />
			<li><a href="{% url informationRetrieval %}">Acts information retrieval</a></li>
			<br />
			<li><a href="{% url export %}">csv export</a></li>
			<br />
			<li><a href="{% url admin:index %}">Administration</a></li>
		</ul>
	</div>
</nav>

<div id="content">
	<div class="firstHorizontalStrip">
		<h3>
			{% block contentTitle %}{% endblock %}
		</h3>
	</div>

	<div class="secondHorizontalStrip">
		{% block content %}{% endblock %}
	</div>
</div>

</body>
</html>
