<!--
TEMPLATE
welcome page
-->
{% extends "base.html" %}
{% block contentTitle %}Welcome to europolix!{% endblock %}

{% block content %}
	<p>This is the Europolix project main page. It aims to create a unique database to store European acts from the European institutions <em>Eurlex</em>, <em>Oeil</em> and <em>Prelex</em>. The acts are retrieved from these 3 websites, crossed and then validated by experts before being saved in the database.</p>
	<p>Please log in and choose an action from the left menu.</p>
{% endblock %}
