<!-- act data form -->
{% load act_extra %}

<div id="id_update_act__all__errors" class="row-fluid">{{ form_data.non_field_errors }}</div>

<br />

<div class="row-fluid border">
    <div class="row-fluid"><h4>Act ids:</h4></div>

    <table id="ids_table" class="ids_table table table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <th>{{ display_name.releve_annee}}</th>
                <th>{{ display_name.releve_mois}}</th>
                <th>{{ display_name.releve_mois_init}}</th>
                <th>{{ display_name.no_ordre}}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div id="releve_annee" class="fieldWrapper">
                        {{ act.releve_annee }}
                    </div>
                </td>
                <td>
                    <div class="fieldWrapper">
                        {{ act.releve_mois }}
                    </div>
                </td>
                <td>
                    <div class="fieldWrapper">
                        <div id="id_{{ form_data.releve_mois_init.name }}_errors" class="row-fluid">{{ form_data.releve_mois_init.errors }}</div>
                            {{ form_data.releve_mois_init }}
                    </div>
                </td>
                <td>
                    <div class="fieldWrapper">
                        {{ act.no_ordre }}
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<br /><br />


<div class="row-fluid"><h4>Eurlex:</h4></div>

<table id="eurlex_ids_table" class="ids_table table table-bordered table-hover table-condensed">
    <thead>
        <tr>
            <th>{{ display_name.no_celex }}</th>
            <th>url exists?</th>
            <th>url link</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ act_ids.index.no_celex }}</td>
            <!-- does the url exist? -->
            {% if act_ids.eurlex.url_exists %}<td>{% else %}<td class="error_msg">{% endif %}
            {{ act_ids.eurlex.url_exists }}</td>
            <!-- display url -->
            <td><a href="{{ urls.url_eurlex.1 }}" target="_blank">eurlex</a></td>
        </tr>
    </tbody>
</table>

<!-- eurlex validation tables -->
<table id="eurlex_table_1" class="table table-bordered table-hover table-condensed">

    <!-- link view to update code_sect data -->
    <div id="code_sect" style="display:none">{% url update_code_sect %}</div>

    {% for field in form_data %}
        {% if field.name in vars_eurlex_1 %}
            <tr>
                <!-- get_value template tag used to print display_name.field.name or display_name[field[name]] -->
                <td class="first_column table_column_title">{{ display_name|get_value:field.name }}</td>
                <td class="second_column">
                    <div class="fieldWrapper">
                        <div id="id_{{ field.name }}_errors" class="row-fluid">{{ field.errors }}</div>
                            <div class="row-fluid">
                            {{ field }}

                            <!-- code_sect and code_agenda -->
                            {% if field.name|slice:":10" == 'code_sect_' %}
                                {% with index=field.name|slice:"-1:" %}
                                    <!-- if javascript disabled -->
                                    <button id="update_code_sect_{{ index }}" name="update_code_sect_{{ index }}" type="submit" class="btn btn-primary update_btn">Update</button>
                                    <div id="code_agenda_{{ index }}" class="update_fields">
                                        {{ display_name.code_agenda_ }}{{ index }}=<span id="code_agenda_{{ index }}">{% get_related_field "CodeSect" field.value "code_agenda" %}</span><br />
                                     </div>
                                {% endwith %}
                            {% endif %}

                        </div>
                    </div>
                </td>
            </tr>
        {% endif %}
    {% endfor %}
</table>

<br />


<table id="eurlex_table_2" class="table table-bordered table-hover table-condensed">

    <!-- link view to update dg data -->
    <div id="dg" style="display:none">{% url update_dg %}</div>
    <!-- url of the view to update duration fields -->
    <div id="url_view_durations" style="display:none">{% url update_durations %}</div>
    <!-- link view to add a dg -->
    <div id="link_add_dg" style="display:none">{% url form_add field='dg' %}</div>
    <!-- link view to add a resp -->
    <div id="link_add_resp" style="display:none">{% url form_add field='resp' %}</div>

    <input id="hidden_dg_eurlex_dic" name="hidden_dg_eurlex_dic" type="hidden" value="{{dg_names_eurlex}}"></input>
    <input id="hidden_dg_oeil_dic" name="hidden_dg_oeil_dic" type="hidden" value="{{dg_names_oeil}}"></input>
    
    <input id="hidden_resp_eurlex_dic" name="hidden_resp_eurlex_dic" type="hidden" value="{{resp_names_eurlex}}"></input>
    <input id="hidden_resp_oeil_dic" name="hidden_resp_oeil_dic" type="hidden" value="{{resp_names_oeil}}"></input>
    
    <input id="hidden_dg_dic" name="hidden_dg_dic" type="hidden" value="{{dg}}"></input>


    {% for field in form_data %}

        {% if field.name in vars_eurlex_2 %}

            <tr>
                <td class="first_column table_column_title">{{ display_name|get_value:field.name }}</td>
                <td class="second_column">
                    <div class="fieldWrapper">
                        <div id="id_{{ field.name }}_errors" class="row-fluid">{{ field.errors }}</div>

                            <!-- display different values for dgs and resps ONLY for add -->
                            {% if add_modif == "add" %}
                                <!--dg: original values and message if more than one possible dg -->
                                {% if field.name|slice:":3" == 'dg_' %}
                                    {% with index=field.name|slice:"-1:" %}
                                        <div class="row-fluid">
                                            {% with dg_eurlex=dg_names_eurlex|get_value:index dg_oeil=dg_names_oeil|get_value:index %}
                                                {% if dg_eurlex != dg_oeil %}
                                                    <span class="error_msg">
                                                {% else %}
                                                    <span>
                                                {% endif %}
                                                Value found on eurlex: {{ dg_eurlex }}; Value found on oeil: {{ dg_oeil }}.</span>
                                                {% if dg and dg|get_value:index %}
                                                    <strong class="data_msg">
                                                        More than one possible value. Please choose among: {{ dg|get_value:index }}
                                                    </strong>
                                                {% endif %}
                                            {% endwith %}
                                        </div>
                                    {% endwith %}
                                    
                                <!--resp: original values  -->
                                {% elif field.name|slice:":5" == 'resp_' %}
                                    {% with index=field.name|slice:"-1:" %}
                                        <div class="row-fluid">
                                            {% with resp_eurlex=resp_names_eurlex|get_value:index resp_oeil=resp_names_oeil|get_value:index %}
                                                {% if resp_eurlex != resp_oeil %}
                                                    <span class="error_msg">
                                                {% else %}
                                                    <span>
                                                {% endif %}
                                                Value found on eurlex: {{ resp_eurlex }}; Value found on oeil: {{ resp_oeil }}.
                                            {% endwith %}
                                        </div>
                                    {% endwith %}
                                {% endif %}
                            {% endif %}
                                
                        <div class="row-fluid {% if field.name == 'adopt_conseil' %}reload{% endif %}" style="position: relative">
                            {{ field }}
                            {% if field.name == 'adopt_conseil' %}
                                <button id="update_durations" name="update_durations" type="submit">
                                    <img id="update_durations_img" src="{{STATIC_URL}}europolix/img/reload.png" class="reload_img" alt="update duration fields" title="update duration fields">
                                </button>

                            <!-- dg_1, dg_2 -->
                            {% elif field.name|slice:":3" == 'dg_' %}
                                {% with index=field.name|slice:"-1:" %}
                                    <!-- if javascript disabled -->
                                    <button id="update_dg_{{ index }}" name="update_dg_{{ index }}" type="submit" class="btn btn-primary update_btn">Update</button>
                                    <div id="dg_{{ index }}" class="update_fields">
                                        {{ display_name.dg_sigle_ }}{{ index }}=<span id="dg_sigle_{{ index }}">{% get_related_field "DG" field.value "dg_sigle" %}</span><br />
                                     </div>
                                    <br /><br />
                                    <a class="add_dg add_dg_no_js" href="{% url add field='dg' %}" target="_blank">Add a new {{ display_name.dg }}</a>
                                    <a id="modal_{{ field.name }}" class="add_dg add_dg_js" href="#modal_add" role="button" data-id="dg;{{ display_name.dg }}" data-toggle="modal">Add a new {{ display_name.dg }}</a>
                                {% endwith %}

                            <!-- responsibles resp_1, resp_2, resp_3 -->
                            {% elif field.name|slice:":5" == 'resp_' %}
                                {% with index=field.name|slice:"-1:" %}
                                    <!-- if javascript disabled -->
                                    <button id="update_resp_{{ index }}" name="update_resp_{{ index }}" type="submit" class="btn btn-primary update_btn">Update</button>
                                    <div id="resp_{{ index }}" class="update_fields">
                                        {{ display_name.resp_country_ }}{{ index }}=<span id="resp_country_{{ index }}">{% get_related_field "Person" field.value "country" %}</span><br />
                                        {{ display_name.resp_party_ }}{{ index }}=<span id="resp_party_{{ index }}">{% get_related_field "Person" field.value "party" %}</span><br />
                                        {{ display_name.resp_party_family_ }}{{ index }}=<span id="resp_party_family_{{ index }}">{{ party_family|get_value:index }}</span>
                                    </div>
                                    <a class="add_resp add_resp_no_js" href="{% url add field='resp' %}" target="_blank">Add a new {{ display_name.resp }}</a>
                                    <a  id="modal_{{ field.name }}" class="add_resp add_resp_js" href="#modal_add" role="button"  data-id="resp;{{ display_name.resp }}" data-toggle="modal">Add a new {{ display_name.resp }}</a>
                                {% endwith %}

                            <!-- date_cons_b and cons_b fields -->
                            {% elif field.name == 'nb_point_b' %}
                                <tr>
                                    <td class="first_column table_column_title">{{ display_name.cons_b }}</td>
                                    <td class="second_column">

                                        <div class="fieldWrapper cons_b_div">
                                            <table id="cons_b" class="table table-bordered table-condensed">
                                                {% with nb_cols=3 nb_vars_col=6 %} 
                                                    
                                                    <!-- column names -->
                                                    <tr>
                                                        {% for col_index in nb_cols|numeric_loop %}
                                                            <td class="table_column_title date_cons_border">{{ display_name.date_cons_b}}</td>
                                                            <td class="table_column_title cons_border">{{ display_name.cons_b }}</td>
                                                        {% endfor %}
                                                    </tr>

                                                    <!-- display 15 date_cons vars and 15 cons vars -->
                                                    <tr>

                                                    {% for cons_field in form_data.cons_b_fields %}
                                                        {% if 'date' in cons_field.name %}
                                                            <td class="date_cons_border">
                                                        {% else %}
                                                            <td class="cons_border">
                                                        {% endif %}
                                                            {{ cons_field }}
                                                        </td>

                                                        <!-- create a new row when reach maximum number of columns -->
                                                        {% if forloop.counter|divisibleby:nb_vars_col %}
                                                            </tr><tr>
                                                        {% endif %}

                                                    {% endfor %}

                                                    </tr>

                                                {% endwith %}
                                                
                                            </table>
                                        </div>
      
                                    </td>
                                </tr>

                             <!-- date_cons_a and cons_a fields -->
                            {% elif field.name == 'nb_point_a' %}
                                <tr>
                                    <td class="first_column table_column_title">{{ display_name.council_a }}</td>
                                    <td class="second_column">

                                        <div class="fieldWrapper cons_b_div">
                                            <table id="cons_a" class="table table-bordered table-condensed">
                                                {% with nb_cols=3 nb_vars_col=6 %} 
                                                    
                                                    <!-- column names -->
                                                    <tr>
                                                        {% for col_index in nb_cols|numeric_loop %}
                                                            <td class="table_column_title date_cons_border">{{ display_name.date_cons_a}}</td>
                                                            <td class="table_column_title cons_border">{{ display_name.cons_a }}</td>
                                                        {% endfor %}
                                                    </tr>

                                                    <!-- display 15 date_cons vars and 15 cons vars -->
                                                    <tr>

                                                    {% for cons_field in form_data.cons_a_fields %}
                                                        {% if 'date' in cons_field.name %}
                                                            <td class="date_cons_border">
                                                        {% else %}
                                                            <td class="cons_border">
                                                        {% endif %}
                                                            {{ cons_field }}
                                                        </td>

                                                        <!-- create a new row when reach maximum number of columns -->
                                                        {% if forloop.counter|divisibleby:nb_vars_col %}
                                                            </tr><tr>
                                                        {% endif %}

                                                    {% endfor %}

                                                    </tr>

                                                {% endwith %}
                                                
                                            </table>
                                        </div>
      
                                    </td>
                                </tr>
                            {% endif %}


                        </div>
                    </div>
                </td>
            </tr>
        {% endif %}
    {% endfor %}
</table>

<br />

<table id="eurlex_table_3"  class="table table-bordered table-hover table-condensed">
    {% for field in form_data %}
        {% if field.name in vars_eurlex_3 %}

            <!-- display config_cons after chgt_base_j -->
            {% if field.name == "chgt_base_j" %}
                <tr>
                    <td class="first_column table_column_title">{{ display_name.config_cons }}</td>
                    <td class="second_column">{{ act.code_sect_1_id.config_cons.config_cons }}{{ act.code_sect_1.config_cons.config_cons }}</td>
                </tr>
            {% endif %}

            <!-- display all the fields -->
            <tr>
                <td class="first_column table_column_title">{{ display_name|get_value:field.name }}</td>
                <td class="second_column">

                    <!-- gvt_compo -->
                    {% if field.name == "gvt_compo" %}
                        <div class="fieldWrapper gvt_compo_table_div">
                            {% if gvt_compos %}
                                <table id="gvt_compo" class="table table-bordered table-condensed">
                                    <!-- column names -->
                                    <tr>
                                        <td class="table_column_title">{{ display_name.country }}</td>
                                        <td class="table_column_title">{{ display_name.party }}</td>
                                    </tr>

                                    {% for country, parties in gvt_compos.items %}
                                        <tr>
                                            <td>{{ country }}</td>

                                            <td class="second_column_others">
                                                {% if parties != "" %}
                                                     {{ parties }}
                                                <!-- no party -->
                                                {% else %}
                                                    None
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            {% else %}
                                <span class="empty">Sorry, no match.</span>
                            {% endif %}
                        </div>

                    <!-- adopt_cs_contre, adopt_cs_abs, adopt_pc_contre, adopt_pc_abs -->
                    
                    <!-- hidden control to get the list of countries -->
                    <div id="countries">{{ form_data.countries }}</div> 
                    
                    {% elif  field.name == "adopt_cs_contre" %}
                        <div class="fieldWrapper"><div id="id_{{ field.name }}_errors" class="row-fluid">{{ field.errors }}</div></div>
                        <!-- drop down lists -->
                        {% for adopt in form_data.cs_contre %}
                            {{ adopt }}
                        {% endfor %}
                        <!-- ajax drop down list -->
                        <div id="cs_contre_div" class="fieldWrapper">
                            <select id="cs_contre" multiple="multiple" style="display: none;"></select>
                        </div>
                        
                    {% elif  field.name == "adopt_cs_abs" %}
                        <div class="fieldWrapper"><div class="row-fluid">{{ field.errors }}</div></div>
                        <!-- drop down lists -->
                        {% for adopt in form_data.cs_abs %}
                            {{ adopt }}  
                        {% endfor %}
                        <!-- ajax drop down list -->
                        <div id="cs_abs_div" class="fieldWrapper">
                            <select id="cs_abs" multiple="multiple" style="display: none;"></select>
                        </div>
                        
                     {% elif  field.name == "adopt_pc_abs" %}
                        <div class="fieldWrapper"><div class="row-fluid">{{ field.errors }}</div></div>
                        <!-- drop down lists -->
                        {% for adopt in form_data.pc_abs %}
                            {{ adopt }}
                        {% endfor %}
                        <!-- ajax drop down list -->
                        <div id="pc_abs_div" class="fieldWrapper">
                            <select id="pc_abs" multiple="multiple" style="display: none;"></select>
                        </div>
                    
                     {% elif  field.name == "adopt_pc_contre" %}
                        <div class="fieldWrapper"><div class="row-fluid">{{ field.errors }}</div></div>
                        <!-- drop down lists -->
                        {% for adopt in form_data.pc_contre %}
                            {{ adopt }}
                        {% endfor %}
                        <!-- ajax drop down list -->
                        <div id="pc_contre_div" class="fieldWrapper">
                            <select id="pc_contre" multiple="multiple" style="display: none;"></select>
                        </div>

                    {% else %}
                        <!-- all the other fields -->
                        <div class="fieldWrapper">
                            <div id="id_{{ field.name }}_errors" class="row-fluid">{{ field.errors }}</div>
                            <div class="row-fluid">
                                {{ field }}
                            </div>
                        </div>
                    {% endif %}
                </td>
            </tr>
        {% endif %}
    {% endfor %}
</table>

<br />


<div class="row-fluid"><h4>Oeil:</h4></div>

<table id="oeil_ids_table" class="ids_table table table-bordered table-hover table-condensed">
    <thead>
        <tr>
            <th>{{ display_name.no_unique_type }}</th>
            <th>{{ display_name.no_unique_annee }}</th>
            <th>{{ display_name.no_unique_chrono }}</th>
            <th>url exists?</th>
            <th>url link</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ act_ids.index.no_unique_type }}</td>
            <td>{{ act_ids.index.no_unique_annee }}</td>
            <td>{{ act_ids.index.no_unique_chrono }}</td>
            {% if act_ids.oeil.url_exists %}<td>{% else %}<td class="error_msg">{% endif %}
            {{ act_ids.oeil.url_exists }}</td>
            <td><a href="{{ urls.url_oeil }}" target="_blank">oeil</a></td>
        </tr>
    </tbody>
</table>

<!-- oeil validation table -->
<table id="oeil_table" class="table table-bordered table-hover table-condensed">

    <!-- link view to update rapp or resp data -->
    <div id="person" style="display:none">{% url update_person %}</div>
     <!-- field that triggered the modal -->
    <div id="modal_field" style="display:none"></div>
    <!-- link view to add a rapp -->
    <div id="link_add_rapp" style="display:none">{% url form_add field='rapp' %}</div>

    {% for field in form_data %}
        {% if field.name in vars_oeil %}
            <tr>
                <td class="first_column table_column_title">{{ display_name|get_value:field.name }}</td>
                <td class="second_column">
                    <div class="fieldWrapper">
                        <div id="id_{{ field.name }}_errors" class="row-fluid">{{ field.errors }}</div>
                        {{ field }}

                        <!-- rapporteurs rapp_1, rapp_2, rapp_3, rapp_4, rapp_5 -->
                        {% if field.name|slice:":5" == 'rapp_' %}
                            {% with index=field.name|slice:"-1:" %}
                                <!-- if javascript disabled -->
                                <button id="update_rapp_{{ index }}" name="update_rapp_{{ index }}" type="submit" class="btn btn-primary update_btn">Update</button>
                                <div id="rapp_{{ index }}" class="update_fields">
                                    {{ display_name.rapp_country_ }}{{ index }}=<span id="rapp_country_{{ index }}">{% get_related_field "Person" field.value "country" %}</span><br />
                                    {{ display_name.rapp_party_ }}{{ index }}=<span id="rapp_party_{{ index }}">{% get_related_field "Person" field.value "party" %}</span><br />
                                    {{ display_name.rapp_party_family_ }}{{ index }}=<span id="rapp_party_family_{{ index }}">
                                    {% get_party_family field.value %}</span>
                                </div>
                                <a class="add_rapp add_rapp_no_js" href="{% url add field='rapp' %}" target="_blank">Add a new {{ display_name.rapp }}</a>
                                <a  id="modal_{{ field.name }}" class="add_rapp add_rapp_js" href="#modal_add" role="button"  data-id="rapp;{{ display_name.rapp }}" data-toggle="modal">Add a new {{ display_name.rapp }}</a>
                            {% endwith %}
                        {% endif %}

                    </div>
                </td>
            </tr>
        {% endif %}
    {% endfor %}
</table>

<br />


<div class="row-fluid"><h4>Ministers' attendance:</h4></div>
<br />

<!-- Ministers' attendance validation table -->
<table id="min_attend_table" class="table table-bordered table-hover table-condensed">
    <tr>
        <td class="first_column table_column_title">{{ display_name.min_attend }}</td>
         <td class="second_column">

            <div class="fieldWrapper min_attend_table_div">
                {% if min_attends %}
<!--
                    {{ min_attends.items }}
-->
                     <table id="min_attend" class="table table-condensed">
                        <!-- column names -->
                        <tr>
                            <td class="table_column_title">{{ display_name.country }}</td>
                            <td class="table_column_title">{{ display_name.status }}</td>
                        </tr>

                        <!-- display all the countries and status for the act) -->
                        {% for country, status in min_attends.items %}
                            <tr>
                                 <!-- display country -->
                                <td>{{ country }}</td>
                                <!-- display status -->
                                <td class="second_column_others">{{ status }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <span class="empty">Sorry, there is no minister's attendance for this act.</span>
                {% endif %}
            </div>
        </td>
    </tr>
</table>

<br />

<div class="row-fluid"><h4>Opal:</h4></div>
<br />

<!-- opal validation table -->
<table id="opal_table" class="table table-bordered table-hover table-condensed">
    <!-- display all the fields for each different NP -->
    {% for country, fields in opals.items %}
        <tr>
            <!-- display np -->
            <td class="first_column table_column_title">{{ display_name.np }}={{ country }}</td>

            <td class="second_column">
                <div class="fieldWrapper opal_table_div">
                    <table id="opal" class="table table-bordered table-condensed">
                        <!-- display act_type -->
                        <tr>
                            <td class="table_column_title">{{ display_name.act_type }}</td>
                            <td class="second_column_others">{{ fields.act_type }}</td>
                        </tr>
                        <!-- display act_date -->
                        <tr>
                            <td class="table_column_title">{{ display_name.act_date }}</td>
                            <td class="second_column_others">{{ fields.act_date }}</td>
                        </tr>
                        <!-- display case_nb -->
                        <tr>
                            <td class="table_column_title">{{ display_name.case_nb }}</td>
                            <td class="second_column_others">{{ fields.case_nb }}</td>
                        </tr>

                    </table>
                </div>
            </td>
    {% empty %}
        <tr><td class="empty">Sorry, no match.</td></tr>
    {% endfor %}
</table>

<div id="notes_and_save" class="row-fluid">{% include "notes_save.html" %}</div>

<!-- hide update buttons if javascript is activated -->
<script type="text/javascript" src="{{ STATIC_URL }}europolix/js/act_hide.js?{% now 'U' %}"></script>

