<!-- css related to the db mangement application -->
<link rel="stylesheet" href="{{STATIC_URL}}europolix/css/db_mgmt.css?{% now 'U' %}" />

{% load act_extra %}

<!-- act data form -->
<form id="form_add"  class="form-horizontal" method="post" action="{% url add field=var %}">{% csrf_token %}
	<fieldset>
		<legend>Please add a {{ display_name|get_value:var }}:</legend>

		<div class="row-fluid">
			<div id="id___all___errors" class="row-fluid">{{ form.non_field_errors }}</div>
		</div>

		{% for field in form %}
			<div  class="row-fluid">
				<div id="id_{{ field.name }}_errors" class="field_error row-fluid">{{ field.errors }}</div>
				<div class="control-group">
					<label class="control-label" for="{{ field.label }}">{{ field.label }}:</label>
					<div class="span3">
						<div class="controls">
							{{ field }}
						</div>
					</div>
				</div>
			</div>
		{% endfor %}

		<!-- submit button -->
		<div id="div_button_add" class="row-fluid">
			<div class="control-group">
				<label class="control-label"></label>
				<div class="span3">
					<div class="controls center">
						<button type="submit" class="btn btn-primary" data-loading-text="Loading...">SAVE</button>
					</div>
				</div>
			</div>
		</div>


		<!-- success or error message -->
		<div class="row-fluid">
			<div id="form_add_msg" class="control-group {{ msg_class }}">
				{{ msg }}
			</div>
		</div>

		<div id="var" style="display:none">{{ var }}</div>
		<div id="var_id" style="display:none"></div>

	</fieldset>
</form>

<!-- js related to the db mangement applications -->
<!--
<script type="text/javascript" src="{{ STATIC_URL }}europolix/js/db_mgmt.js?{% now 'U' %}"></script>
-->
