<!--
TEMPLATE
displays the data of a given act (data for the statistical analysis displays data from eurlex, oeil and prelex and allow to validate the act and modify its data if needed)
-->
{% extends "base.html" %}

{% block contentTitle %}Acts information retrieval{% endblock %}

{% block content %}
{% load extra %}

	<p>
		You can display, modify and save retrieved information of the validated acts on this page. Acts information can be displayed one at a time. <br />
		Select a validated act in the drop down list and check the data in the table. Change any value (second column) if you detect a mistake. Eventually, click on the save button to validate and save the act information.
	</p>

	<br />
<!--
	 act information form
-->
	<form id="actsInformationValidationForm" action="{% url actsInformationRetrieval.views.actsView %}" method="post">{% csrf_token %}
		{{ form.non_field_errors }}

		{{ form.actsToValidate.field.choices.queryset.all|length }} act(s) to validate!

		<div id="actsToValidateChoice" class="fieldWrapper">
			{{ form.actsToValidate.errors }}
			{{ form.actsToValidate }}
		</div>

		<div class="bold">
<!--
			act id: {{act.actId}}
-->
		</div>

		<br /><br />

		<div class="bold">ACT IDS:</div>

		<table id="idsTable">
			<tr class="bold">
				<td>{{ displayName.releveAnnee}}</td>
				<td>{{ displayName.releveMois}}</td>
				<td>{{ displayName.releveMoisInitial}}</td>
				<td>{{ displayName.noOrdre}}</td>
			</tr>
			<tr>
				<td>
					<div class="fieldWrapper">
						{{ form.releveAnnee.errors }}
						{{ form.releveAnnee }}
					</div>
				</td>
				<td>
					<div class="fieldWrapper">
						{{ form.releveMois.errors }}
						{{ form.releveMois }}
					</div>
				</td>
				<td>
					<div class="fieldWrapper">
						{{ form.releveMoisInitial.errors }}
						{{ form.releveMoisInitial }}
					</div>
				</td>
				<td>
					<div class="fieldWrapper">
						{{ form.noOrdre.errors }}
						{{ form.noOrdre }}
					</div>
				</td>
			</tr>
		</table>

		<br /><br />

		<div class="bold">EURLEX:</div>

		<table id="eurlexIdsTable">
			<tr class="bold">
				<td>{{ displayName.fileNoCelex }}</td>
				<td>url exists?</td>
				<td>url link</td>
			</tr>
			<tr>
				<td>{{actId.fileNoCelex}}</td>
				{% if actId.fileEurlexUrlExists %}<td>{% else %}<td class="error">{% endif %}
				{{actId.fileEurlexUrlExists}}</td>
				<td><a href="{{url.eurlexUrl}}" target="_blank">eurlex</a></td>
			</tr>
		</table>

		<br />

		<!-- eurlex validation table -->
		<table id="eurlexTable" class="actsValidationTable">
			{% for field in form %}
				{% if "eurlex" in field.name %}
					<tr>
						<!-- ofKey template tag used to print displayName.field.name or displayName[field[name]] -->
						<td class="informationTableFirstColumn">{{ displayName|ofKey:field.name }}</td>
						<td>
							<div class="fieldWrapper">
								{{ field.errors }}
								{{ field }}
							</div>
						</td>
					</tr>
				{% endif %}
			{% endfor %}
		</table>


		<br /><br />

		<div class="bold">OEIL:</div>

		<table id="oeilIdsTable">
			<tr class="bold">
				<td>{{ displayName.fileNoUniqueType }}</td>
				<td>{{ displayName.fileNoUniqueAnnee }}</td>
				<td>{{ displayName.fileNoUniqueChrono }}</td>
				<td>url exists?</td>
				<td>url link</td>
			</tr>
			<tr>
				<td>{{actId.fileNoUniqueType}}</td>
				<td>{{actId.fileNoUniqueAnnee}}</td>
				<td>{{actId.fileNoUniqueChrono}}</td>
				{% if actId.fileOeilUrlExists %}<td>{% else %}<td class="error">{% endif %}
				{{actId.fileOeilUrlExists}}</td>
				<td><a href="{{url.oeilUrl}}" target="_blank">oeil</a></td>
			</tr>
		</table>

		<br />

		<!-- oeil validation table -->
		<table id="oeilTable" class="actsValidationTable">
			{% for field in form %}
				{% if "oeil" in field.name %}
					<tr>
						<td class="informationTableFirstColumn">{{ displayName|ofKey:field.name }}</td>
						<td>
							<div class="fieldWrapper">
								{{ field.errors }}
								{{ field }}
							</div>
						</td>
					</tr>
				{% endif %}
			{% endfor %}
		</table>


		<br /><br />


		<div class="bold">PRELEX:</div>

		<table id="prelexIdsTable">
			<tr class="bold">
				<td>{{ displayName.fileProposOrigine }}</td>
				<td>{{ displayName.fileProposAnnee }}</td>
				<td>{{ displayName.fileProposChrono }}</td>
				<td>{{ displayName.fileDosId }}</td>
				<td>url exists?</td>
				<td>url link</td>
			</tr>
			<tr>
				<td>{{actId.fileProposOrigine}}</td>
				<td>{{actId.fileProposAnnee}}</td>
				<td>{{actId.fileProposChrono}}</td>
				<td>{{actId.fileDosId}}</td>
				{% if actId.filePrelexUrlExists %}<td>{% else %}<td class="error">{% endif %}
				{{actId.filePrelexUrlExists}}</td>
				<td><a href="{{url.prelexUrl}}" target="_blank">prelex</a></td>
			</tr>
		</table>

		<br />

		<!-- prelex validation table -->
		<table id="prelexTable" class="actsValidationTable">
			{% for field in form %}
				<!-- prelex data split in two tables -> 2d table starts with the field prelexRejetConseil  -->
				{% if field.name == "prelexRejetConseil" %}
					</table>
					<br /><br />
					<table class="actsValidationTable">
				{% endif %}

				<!-- display all the fields -->
				{% if "prelex" in field.name %}
					<tr>
						<td class="informationTableFirstColumn">{{ displayName|ofKey:field.name }}</td>
						<td>
							<div class="fieldWrapper">
								{{ field.errors }}
								{{ field }}
							</div>
						</td>
					</tr>
				{% endif %}
			{% endfor %}
		</table>

		<br /><br />

		<div id="notesDiv" class="fieldWrapper">
			{{ idForm.notes.errors }}
			<label for="notes">Notes:</label>
			{{ idForm.notes }}
		</div>

		<input id="actsValidationSaveButton" name="actsValidationSaveButton" type="submit" value="SAVE" />

		<div id="actsValidationSuccessMessage">{{ success }}</div>
	</form>

	<br /><br />

{% endblock %}
