<!--
TEMPLATE
displays the data of a given act (data for the statistical analysis displays data from eurlex, oeil and prelex and allow to validate the act and modify its data if needed)
-->
{% extends "base.html" %}

{% block contentTitle %}<div id="title">Acts information retrieval</div>{% endblock %}

{% block content %}
	<div id="content">
		<!-- css related to the actsInformationRetrieval application -->
		<link rel="stylesheet" href="{{STATIC_URL}}europolix/css/act_info.css?{% now 'U' %}" />
		<!-- css related to the addModif.html file -->
		<link rel="stylesheet" href="{{STATIC_URL}}europolix/css/addModif.css?{% now 'U' %}" />
		<!-- css related to the notes_and_save.html file -->
		<link rel="stylesheet" href="{{STATIC_URL}}europolix/css/notes_and_save.css?{% now 'U' %}" />

		<div class="row-fluid">
			This page lets you display, modify and save retrieved information of an act (if its ids have been previously validated). Acts information can be displayed one at a time. <br />
			Select an act to validate in the drop down list to validate a new act. Fill in the {{ displayName.releveAnnee}}, {{ displayName.releveMois}}, {{ displayName.noOrdre}} textboxes and click on the modif button to modify an already validated act.<br />
			You can then check the data in the table below. Change any value (second column) if you detect a mistake. Eventually, click on the save button to validate and save the act information.
		</div>

		<br />

		<!-- act information form -->
		<form id="act_form" class="form-inline" method="post" action="{% url act_info %}">{% csrf_token %}
			<div id="reset_form_path" style="display: none;">{% url reset_info_form %}</div>
			<div class="row-fluid">{% include "addModif.html" %}</div>

			<br />

			<div id="act_form_div">{% include form_template %}</div>

		</form>

		<!-- js related to the act ids and info applications -->
		<script type="text/javascript" src="{{ STATIC_URL }}europolix/js/act.js?{% now 'U' %}"></script>
	</div>
{% endblock %}
