/* css for the act application */

.border
{
    border: 1px solid black;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 4px 8px 0 8px;
    width: auto;
}


.ids_table
{
    margin-left: auto !important;
    margin-right: auto;
    float: none !important;
}

/* releve_mois_init */
.ids_table input[type="text"]
{
    width: 95%;
}

#ids_table
{
    width: 34%;
}

#eurlex_ids_table
{
    width: 25%;
}

#eurlex_ids_table td
{
    width: 4%;
}

#oeil_ids_table
{
    width: 41.1%;
}

.first_column
{
    width: 225px;
}

.second_column
{
    width: 79%;
}

/* length of eurlex and oeil input fields (except for fields with a reload button) */
.second_column input[type="text"]
{
    width: 99%;
}

/* length of eurlex and oeil input fields with a reload button */
.reload input[type="text"]
{
    float: left;
    width: 95%;
    margin-right: 0.5%;
}

/* reload image on the right side of the field*/
.reload_img
{
    width: 23px;
}


/*display person related fields*/
#eurlex_table_1 select, #eurlex_table_2 select, #oeil_table select, .update_fields, .update_btn
{
    float: left;
    margin-top: 2px;
}

#eurlex_table_1 select, #eurlex_table_2 select, #oeil_table select
{
    width: 40%;
    padding-left: 5px;
}


/* drop down lists for adopt_ fields */
#eurlex_table_3 select
{
    width: 20%;
    margin-top: 2px;

}

#id_adopt_cs_contre_5, #id_adopt_cs_contre_6, #id_adopt_cs_contre_7, #id_adopt_cs_contre_8, #id_adopt_pc_contre_5, #id_adopt_pc_contre_6, #id_adopt_pc_contre_7, #id_adopt_pc_contre_8, #id_adopt_cs_abs_5, #id_adopt_cs_abs_6, #id_adopt_cs_abs_7, #id_adopt_cs_abs_8, #id_adopt_pc_abs_5, #id_adopt_pc_abs_6, #id_adopt_pc_abs_7, #id_adopt_pc_abs_8
{
    margin-top: 3px !important;
    margin-bottom: 4px;
}

/* foreign key fields on the right of drop down lists */
.update_fields
{
    width: 49.5%;
    padding-left: 1.5%;
    text-align: left;
    font-weight: bold;
}

/* button to update person variables if javascript disabled */
.update_btn
{
    margin-left: 1%;
    margin-top: 3px;
    padding: 3px 6px;
}

/* align link to add a dg */
.add_dg
{
    float: left;
    margin-left: 1.5%;
}

/* hide link for javascript version */
.add_dg_js
{
    display: none;
}

/* align link to add a rapp */
.add_rapp
{
    float: left;
    margin-left: 1.5%;
}

/* hide link for javascript version */
.add_rapp_js
{
    display: none;
}

/* align link to add a resp */
.add_resp
{
    position: absolute;
/*
    top: 67%;
*/
    top: 42px;
    left: 1.5%;
}

/* hide link for javascript version */
.add_resp_js
{
    display: none;
}


/* cons_b, cons_a, gvt_compo opal, and min_attend tables */
.cons_b_table_div, .cons_a_table_div, .gvt_compo_table_div, .opal_table_div, .min_attend_table_div
{
    padding-bottom: 0;
}


#cons_a, #cons_b, #gvt_compo, #opal, #min_attend
{
    margin: 2px;
    width: auto;
}

/* date_cons fields */
#cons_b .date_cons_border 
{
    /* dotted right-border */
    border-right-style: dotted;
}


/* date_cons fields */
#cons_b .date_cons_border input[type="text"]
{
    width: 95%;
}


/* cons fields */
#cons_b .cons_border input[type="text"]
{
    width: 184px;
}

/* borders for min_attend table*/
#min_attend tbody tr
{
    border: 2px groove #ddd;
}

.second_column_others
{
    width: 800px;
}


/* opal and min_attend */
.empty
{
    font-weight: bold;
    width: 1000px;
}

/* drop down list of all the countries, used to display adopt variables */
#id_countries
{
    display: none;
}

/* update_durations button */
#update_durations
{
    /* hide button and show only image inside */
    padding: 0;
    border: 0px;
    background-color: transparent;
    /* no border on click */
    outline: none;
}
