/* css for the actsInformationRetrieval application */


.border
{
	border: 1px solid black;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 4px 8px 0 8px;
	width: auto;
}

.ids_table
{
	margin-left: auto !important;
	margin-right: auto;
	float: none !important;
}

.ids_table input[type="text"]
{
	width: 95%;
}

#ids_table
{
	width: 46%;
}

#eurlex_ids_table
{
	width: 25%;
}

#eurlex_ids_table td
{
	width: 77px;
}

#oeil_ids_table
{
	width: 44%;
}

#prelex_ids_table
{
	width: 50%;
}

#prelex_ids_table td
{
	width: 65px;
}


#act_form .first_column
{
	width: 225px;
}

#act_form .second_column
{
	width: 76.8%;
}

.second_column input[type="text"]
{
	width: 99%;
}

/*display respPropos related fields*/
#id_prelexRespProposId1, #id_prelexRespProposId2, #id_prelexRespProposId3, #prelexRespProposId1, #prelexRespProposId2, #prelexRespProposId3
{
	float: left;
	width: 49.5%;
	text-align: left;
	padding-left: 5px;
	margin-top: 2px;
}


/* nationGvtPoliticalComposition */
#gvt_compo
{
	margin: 2px;
	width: auto;
}
