/* css for the actsIdsValidation application */

#act_ids_table input[type="text"]
{
	width: 93%;
}

#update_act
{
	padding: 1px;
}


/* loading gif*/
#loading_gif_update_act
{
	display: none;
	padding: 2px;
}
