/* css for the actsIdsValidation application */

#act_form table input[type="text"]
{
	width: 93%;
}

#act_form table .btn
{
	padding: 1px;
}


/* loading gif*/


#loading_gif_update_act
{
	display: none;
	padding: 2px;
}
