/* css for the add_modif.html file */

/* ADD AND MODIF */

#add_modif
{
    overflow: auto;
    border-top: 1px groove #ddd;
    border-bottom: 1px groove #ddd;
}

#add_div, #modif_div
{
    width: 50%;
    padding: 1%;
    text-align:center;
}

/* add_act and modif_act buttons, modif_act textboxes -> space between textboxes and button */
#add_modif input[type="text"]
{
    width: 100%;
}



/* ADD */

#id_act_to_validate
{
    width: auto;
    font-size: 13px;
}

#add_act
{
    margin-left: 1%;
}

/* loading gif */
#act_to_validate_div
{
    position: relative;
}

#loading_gif_add_act
{
    display: none;
    position: absolute;
    top: 14.1%;
    right: 5%;
}



/* MODIF */

#modif_div
{
    margin-left: 0;
    border-left: 1px black dashed;
}

#modif
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#radio_button_and_textbox_div
{
    width: 75%;
}

/*radio buttons for releve and propos ids*/
#releve_ids, #propos_ids
{
    width: 23%;
    padding-top: 8%;
    text-align: left;
}

#modif input[type="radio"]
{
    margin: 0;
}

#releve_ids_radio, #propos_ids_radio
{
    margin-bottom: 5%;
}

/* input boxes */
#releve_annee_modif, #releve_mois_modif, #no_ordre_modif, #propos_origine_modif, #propos_annee_modif, #propos_chrono_modif
{
    width: 20.5%;
    margin-right: 2.4%;
}

.modif_label
{
    margin-bottom: 0;
}



/*button*/

#modif_act_button_div
{
    width: 25%;
    margin-left: 0;
    padding-top: 10.5%;
}

#modif_act
{
    float: left;
    margin-left: 18%;
    margin-right: 14%;
    padding-left: 5px;
    padding-right: 5px;
    
}



/* loading gif */
#loading_gif_modif_act
{
    float: left;
    display: none;
}



/* ANCHORS */

/* hidden by fixed menu */
#top_anchor
{
    display: inline-block;
    padding-top: 83px;
    margin-top: -83px;
}

/* anchor */
#bottom_anchor_div
{
    width: 100%;
    margin-left: 0;
    text-align: right;
}
