/* css for the attendance application */

/* css for all the 3 colomns (country, verbatim, status) */
.column
{
    float: left;
    text-align: center;
}

/* headers */
.column_title
{
    font-weight: bold
}


/* width of the columns country and status */
.country, .status
{
    width: 14%;

}

.status
{
    float: right;
}

/* width of the verbatim column */
.verbatim
{
    width: 72%;

}

/* length of the selects (country and status) */
#attendance_form .country select, #attendance_form .status select
{
    width: 100%;
}

/* lengths of the verbatim inputboxes */
#attendance_form .verbatim input
{
    width: 97.2%;
}


/* if error on status, other fields are not aligned anymore!  */
.align_form_fields
{
    padding-top: 40px;
}


/* separater each minister */
.new_minister
{
    height: 4px;
}

/*update statuses button*/
#update_status
{
    margin-right: 1.3%;
}

/* save button */
#save_attendance
{
    padding: 10px;
}
