/* css for the attendance application */

/* css for all the 3 colomns (country, verbatim, status) */
.column
{
    float: left;
    text-align: center;
}

/* headers */
.column_title
{
    font-weight: bold
}


/* width of the columns country and status */
.country, .status
{
    width: 14%;
}


/* width of the verbatim column */
.verbatim
{
    width: 67%;
}

/* delete column to delete forms individually */
.DELETE
{
    width: 5%;
}

/* length of the selects (country and status) */
#attendance_form .country select, #attendance_form .status select
{
    width: 100%;
}


#attendance_form .status select
{
    margin-left: 2px;
}


/* lengths of the verbatim inputboxes */
#attendance_form .verbatim input
{
    width: 97.2%;
    margin-left: 4px;
}


/* if error on status, other fields are not aligned anymore!  */
.align_form_fields
{
    padding-top: 20px;
}


/* separater each minister */
.new_minister
{
    height: 4px;
}

/*update statuses button*/
#update_status
{
    margin-left: 15.6%;
}

/* save button */
#save_attendance
{
    padding: 10px;
}
